In [8]:
import pandas as pd

In [9]:
traffic_data = pd.read_csv("data/merged_traffic_weather_2024.csv")
population_data = pd.read_csv("data/district_population_rail.csv")

In [10]:
traffic_data.head()

         DATE  DISTRICT  congestion  weather_condition
0  2024-01-01        33       0.516                  1
1  2024-01-01        33       0.391                  1
2  2024-01-01        33       0.398                  1
3  2024-01-01        33       0.279                  1
4  2024-01-01        33       0.396                  1

In [11]:
population_data.head()

   Year  District   Total  Number of Railway Stations  Number of Bus Stations
0  2024        17  988369                          25                     547
1  2024        25  789033                          10                     515
2  2024        27  749356                           6                     404
3  2024        36  727819                           8                     139
4  2024         4  713594                          17                     303

In [12]:
population_data.isna().sum()

Year                          0
District                      0
Total                         0
Number of Railway Stations    0
Number of Bus Stations        0
dtype: int64

In [13]:
population_data = population_data.dropna(subset=["District"])
population_data["District"] = population_data["District"].astype(int)

In [14]:
district_info = population_data.set_index("District").to_dict(orient="index")

traffic_data["population"] = traffic_data["DISTRICT"].map(lambda x: district_info.get(x, {}).get("Total"))
traffic_data["railway_stations"] = traffic_data["DISTRICT"].map(lambda x: district_info.get(x, {}).get("Number of Railway Stations"))
traffic_data["bus_stations"] = traffic_data["DISTRICT"].map(lambda x: district_info.get(x, {}).get("Number of Bus Stations"))