In [1]:
import pandas as pd

In [2]:
traffic_data = pd.read_csv("data/traffic_density_2024.csv")
weather_data = pd.read_csv("data/weather_data_cleaned.csv")

In [3]:
traffic_data

              DATE  DISTRICT  congestion
0       2024-01-01        33       0.516
1       2024-01-01        33       0.391
2       2024-01-01        33       0.398
3       2024-01-01        33       0.279
4       2024-01-01        33       0.396
...            ...       ...         ...
751306  2024-12-31         1       0.095
751307  2024-12-31         1       0.090
751308  2024-12-31         1       0.066
751309  2024-12-31         1       0.054
751310  2024-12-31         1       0.068

[751311 rows x 3 columns]

In [4]:
weather_data.head()

         date  weather condition
0  2020-01-01                  2
1  2020-01-02                  2
2  2020-01-03                  2
3  2020-01-04                  1
4  2020-01-05                  2

In [5]:
traffic_data["DATE"] = pd.to_datetime(traffic_data["DATE"])
weather_data["date"] = pd.to_datetime(weather_data["date"])

traffic_data_2024 = traffic_data[traffic_data["DATE"].dt.year == 2024]
weather_data_2024 = weather_data[weather_data["date"].dt.year == 2024]

In [6]:
weather_data_2024_renamed = weather_data_2024.rename(columns={"date": "DATE"})
weather_data_2024_renamed = weather_data_2024_renamed.rename(columns={"weather condition": "weather_condition"})

merged_df = pd.merge(traffic_data_2024, weather_data_2024_renamed, on="DATE", how="inner")

In [7]:
special_days = pd.read_csv("original_data/special_days.csv")
special_days["DATE"] = pd.to_datetime(special_days["DATE"])

merged_df["SPECIAL_DAY"] = merged_df["DATE"].isin(special_days["DATE"]).astype(int)

In [8]:
merged_df["DAY_OF_WEEK_NUM"] = merged_df["DATE"].dt.dayofweek + 1

In [9]:
merged_df.head()

,DATE,DISTRICT,congestion,weather_condition,SPECIAL_DAY,DAY_OF_WEEK_NUM
0,2024-01-01,33,0.516,1,1,1
1,2024-01-01,33,0.391,1,1,1
2,2024-01-01,33,0.398,1,1,1
3,2024-01-01,33,0.279,1,1,1
4,2024-01-01,33,0.396,1,1,1

In [10]:
merged_df.to_csv("data/merged_traffic_weather_2024.csv", index=False)