In [17]:
import pandas as pd

In [18]:
traffic_data = pd.read_csv("data/traffic_density_2024.csv")
weather_data = pd.read_csv("data/weather_data_cleaned.csv")

In [19]:
traffic_data

              DATE  DISTRICT  congestion
0       2024-01-01        33    0.515931
1       2024-01-01        33    0.390578
2       2024-01-01        33    0.397811
3       2024-01-01        33    0.279197
4       2024-01-01        33    0.396265
...            ...       ...         ...
751306  2024-12-31         1    0.095097
751307  2024-12-31         1    0.090218
751308  2024-12-31         1    0.065979
751309  2024-12-31         1    0.053566
751310  2024-12-31         1    0.067585

[751311 rows x 3 columns]

In [20]:
weather_data.head()

         date  weather condition
0  2020-01-01                  2
1  2020-01-02                  2
2  2020-01-03                  2
3  2020-01-04                  1
4  2020-01-05                  2

In [21]:
traffic_data["DATE"] = pd.to_datetime(traffic_data["DATE"])
weather_data["date"] = pd.to_datetime(weather_data["date"])

traffic_data_2024 = traffic_data[traffic_data["DATE"].dt.year == 2024]
weather_data_2024 = weather_data[weather_data["date"].dt.year == 2024]

In [22]:
weather_data_2024_renamed = weather_data_2024.rename(columns={"date": "DATE"})
weather_data_2024_renamed = weather_data_2024_renamed.rename(columns={"weather condition": "weather_condition"})

merged_df = pd.merge(traffic_data_2024, weather_data_2024_renamed, on="DATE", how="inner")

In [23]:
merged_df.to_csv("data/merged_traffic_weather_2024.csv", index=False)