In [1]:
import pandas as pd

In [2]:
population_data = pd.read_csv("../original_data/populations_by_districts.csv")
railway_data = pd.read_csv("../data/rail_system_poi_data_with_districts.csv")
bus_data = pd.read_csv("../data/bus_data_with_districts.csv")

In [3]:
code_dict = {
    "Adalar": 0,
    "Arnavutkoy": 1,
    "Atasehir": 2,
    "Avcilar": 3,
    "Bagcilar": 4,
    "Bahcelievler": 5,
    "Bakirkoy": 6,
    "Basaksehir": 7,
    "Bayrampasa": 8,
    "Besiktas": 9,
    "Beykoz": 10,
    "Beylikduzu": 11,
    "Beyoglu": 12,
    "Buyukcekmece": 13,
    "Catalca": 14,
    "Cekmekoy": 15,
    "Esenler": 16,
    "Esenyurt": 17,
    "Eyupsultan": 18,
    "Fatih": 19,
    "Gaziosmanpasa": 20,
    "Gungoren": 21,
    "Kadikoy": 22,
    "Kagithane": 23,
    "Kartal": 24,
    "Kucukcekmece": 25,
    "Maltepe": 26,
    "Pendik": 27,
    "Sancaktepe": 28,
    "Sariyer": 29,
    "Silivri": 30,
    "Sultanbeyli": 31,
    "Sultangazi": 32,
    "Sile": 33,
    "Sisli": 34,
    "Tuzla": 35,
    "Umraniye": 36,
    "Uskudar": 37,
    "Zeytinburnu": 38
}

In [4]:
population_data["District"] = population_data["District"].apply(lambda x: code_dict[x] if x in code_dict else None).astype("Int64")

In [5]:
railway_data["name"].value_counts()

name
18    27
21    27
17    25
34    20
6     19
24    18
7     17
26    17
4     17
12    11
15    10
25    10
23     9
30     9
5      9
35     9
9      8
19     8
2      8
36     8
28     7
32     6
20     6
27     6
22     5
1      5
8      4
33     4
16     3
31     2
3      2
38     1
Name: count, dtype: int64

In [6]:
station_counts = railway_data["name"].value_counts().rename_axis("District").reset_index(name="Number of Railway Stations")
population_data = population_data.merge(station_counts, on="District", how="left")
population_data["Number of Railway Stations"] = population_data["Number of Railway Stations"].fillna(0).astype(int)

In [7]:
bus_station_counts = bus_data["name"].value_counts().rename_axis("District").reset_index(name="Number of Bus Stations")
population_data = population_data.merge(bus_station_counts, on="District", how="left")
population_data["Number of Bus Stations"] = population_data["Number of Bus Stations"].fillna(0).astype(int)

In [8]:
population_data.head()

   Year  District   Total  Number of Railway Stations  Number of Bus Stations
0  2024        17  988369                          25                     547
1  2024        25  789033                          10                     515
2  2024        27  749356                           6                     404
3  2024        36  727819                           8                     139
4  2024         4  713594                          17                     303

In [9]:
population_data.to_csv("../data/district_population_rail.csv", index=False)